* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  font-family: "Noto Serif JP", serif;
}
/* Scrollbar------------- */
::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f8f9fa;
}
::-webkit-scrollbar-thumb {
  background: #e04e52;
  border-radius: 5rem;
}
/* Header Section------ */
.header-section {
  background: url("/assets/images/spa-home.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.header-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.header-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 67.2px;
}

.header-content h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 36px;
}

.book-now {
  display: inline-block;
  width: 175;
  height: 64;
  top: 423px;
  left: 632.5px;
  gap: 10px;
  border-radius: 45px;
  padding-top: 20px;
  padding-right: 36px;
  padding-bottom: 20px;
  padding-left: 36px;
  color: #222222;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.book-now:hover {
  background: #e04e52;
  color: #ffffff;
}

/* Mobile View */
@media (max-width: 998px) {
  .header-content h1 {
    font-size: 1.6rem;
  }

  .header-content h4 {
    font-size: 1.2rem;
  }

  .book-now {
    font-size: 1rem;
  }
}

/* Intro Section */
.intro-section h4 {
  font-family: Noto Serif JP;
  font-weight: 500;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 0%;
  color: #222222;
}

.intro-section h2 {
  font-family: Noto Serif JP;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #222222;
}

.intro-section p {
  font-family: Noto Serif JP;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #222222;
  max-width: 500px;
}

/* Image Layout */
.image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 25px;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.img-1 {
  height: 200px;
  transform: translateY(-20px);
}

.img-2 {
  height: 160px;
  transform: translateY(20px);
}

.img-3 {
  height: 180px;
}

/* Mobile View */
@media (max-width: 768px) {
  .intro-section h4 {
    font-size: 1.2rem;
    text-align: left;
  }

  .intro-section h2 {
    font-size: 1.6rem;
    text-align: left;
    max-width: 50%;
    line-height: normal;
  }

  .intro-section p {
    font-size: 1rem;
    text-align: left;
    max-width: 70%;
  }

  .image-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    margin-top: 25px;
  }

  .image-container img {
    width: 100px;
  }

  .img-1 {
    height: 140px;
    transform: translateY(10px);
  }

  .img-2 {
    height: 160px;
    transform: translateY(-10px);
  }

  .img-3 {
    height: 143px;
  }
}

/* Background Section */
.bg-section {
  background: url("/assets/images/background1.jpg") no-repeat center
    center/cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.bg-sect {
  z-index: 1;
  width: 50%;
}
/* Text Styling */
.bg-section h2 {
  height: 160;
  text-align: center;
  font-weight: 900;
  font-size: 56px;
  line-height: 67.2px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

/* Mobile View */
@media (max-width: 968px) {
  .bg-section {
    height: 50vh;
  }
  .bg-sect {
    width: 90%;
  }
  .bg-section h2 {
    font-size: 1.4rem;
    line-height: normal;
  }
}
/* About Section--- */
.visit-section {
  padding: 60px 0;
}
.visit-section h2 {
  width: 636.5;
  height: 44.49775314331055;
  font-weight: 600;
  font-size: 40px;
  line-height: 37px;
  letter-spacing: 0%;

  color: #050505;
}
.visit-section p {
  width: 617.796875;
  height: 473.71484375;
  font-family: Noto Serif JP;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  color: #050505;
}
.visit-img {
  width: 100%;
  border-radius: 8px;
}

.visit-link {
  display: inline-block;
  margin-top: 20px;
  width: 186;
  height: 70;
  gap: 10px;
  border-radius: 45px;
  padding-top: 20px;
  padding-right: 36px;
  padding-bottom: 20px;
  padding-left: 36px;
  background-color: #f50b7e;
  color: #ffffff;
  font-family: Noto Serif JP;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 9%;

  text-decoration: none;
  transition: 0.3s ease;
}

.visit-link:hover {
  background-color: #ffffff;
  border: 1px solid #f50b7e;
  color: #050505;
}

/* Mobile View */
@media (max-width: 968px) {
  .visit-section h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0%;
  }
  .visit-section p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .visit-link {
    width: 104;
    height: 38;
    gap: 10px;
    border-radius: 24px;
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-left: 17px;
    font-family: Noto Serif JP;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0%;
  }
}

/* Testimonials Section */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #050505;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #050505;
  margin-bottom: 40px;
}

.testimonial-card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.review-text {
  font-style: italic;
  color: #000000;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.customer-name {
  font-family: Noto Serif JP;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;

  margin: 0;
  color: #050505;
}

.customer-type {
  font-family: Noto Serif JP;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0%;
  color: #313131;
  margin: 0;
  text-align: left !important;
}

/* Book Section---- */
.book-section {
  padding: 60px 0;
}

.book-text {
  text-align: left;
  padding: 20px;
}

.book-text h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #F50B7E;
}

.book-text p {
  font-size: 1.1rem;
  color: #050505;
}

.book-image {
  width: 100%;
  border-radius: 10px;
  
}

/* Overlapping Image Effect */
.first{
    height: 90vh !important;
}
.second {
  width: 90%;
}

.fourth {
 width: 90%;
}

/* Mobile View */
@media (max-width: 968px){
    .first{
        height: 50vh !important;
    }
    .book-text h2{
        font-size: 1.3rem;
    }
    .book-text p {
        font-size: 15px;
    }
    .second{
        width: 100%;
    }
    .fourth{
        width: 100%;
    }
    .footer p{
      font-size: 1.1rem;
    }
}

/* Location Section--- */
.location-box i {
    font-size: 2rem;
    color: #e04e52;
    margin-bottom: 10px;
}

.location-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.location-box p {
    font-size: 1rem;
}

.location-box a {
    display: inline-block;
 
    font-weight: bold;
    color: #454545;
    text-decoration: none;
}

.location-box a:hover {
    color: #F50B7E;
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #F50B7E;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-family: Noto Serif JP;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    
}

/* Booking Page------- */
.booking-container h2{
  color: #f50b7e;
}
.form-check-input:checked {
  background-color: #e04e52; 
  border-color: #fff;
}
.book-btn{
border-radius: 8px;
background-color: #f50b7e;
color: #ffffff;
font-family: Noto Serif JP;
font-weight: 700;
font-size: 30px;
line-height: 26px;
letter-spacing: 0%;
padding: 15px 0px;
transition: 0.5s ease;

}
.book-btn:hover{
  background-color: #ffffff;
  border: 1px solid #f50b7e;
  color: #f50b7e;
}